

$primary-100: #ffefd4;
$primary-200: #ffd590;
$primary-300: #fca71a;
$primary-400: #ce8915;
$primary-500: #fca71a;
$primary-600: #79500c;
$primary-700: #513608;
$primary-800: #2d1e05;
$primary: $primary-500;

$gray-100: #ebecee;
$gray-200: #ccd0d4;
$gray-300: #9aa1a9;
$gray-400: #68727e;
$gray-500: #364354;
$gray-600: #28323f;
$gray-700: #1b212a;
$gray-800: #0d1015;
$gray: $gray-500;
$gray-dark: rgba(27, 33, 42, 0.5);
$gray-light: rgba(54, 67, 84, 0.5);

$white: #fff;
$black: #000;
$credit-blue: #1a03f9;
