$primary-100: #e6f3fd;
$primary-200: #c1e0f9;
$primary-300: #83c2f3;
$primary-400: #45a4ed;
$primary-500: #0786e7;
$primary-600: #0564ad;
$primary-700: #034373;
$primary-800: #012139;
$primary: $primary-500;

$yellow-100: #ffefd4;
$yellow-200: #ffd590;
$yellow-300: #fca71a;
$yellow-400: #ce8915;
$yellow-500: #a26c11;
$yellow-600: #79500c;
$yellow-700: #513608;
$yellow-800: #2d1e05;
$yellow: $yellow-500;

$gray-100: #ebecee;
$gray-200: #ccd0d4;
$gray-300: #9aa1a9;
$gray-400: #68727e;
$gray-500: #364354;
$gray-600: #28323f;
$gray-700: #1b212a;
$gray-800: #0d1015;
$gray: $gray-500;
$gray-dark: rgba(27, 33, 42, 0.5);
$gray-light: rgba(54, 67, 84, 0.5);

$white: #fff;
$black: #000;
$credit-blue: #1a03f9;
